<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登陆</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./static/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>
<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">登陆</h2>
        <label for="usernameInput" class="sr-only">登录名：</label>
        <input type="text" id="usernameInput" class="form-control" placeholder="请输入登陆的手机号码" required autofocus value="18900000001">
        <label for="passwordInput" class="sr-only">Password</label>
        <input type="password" id="passwordInput" class="form-control" placeholder="请输入登陆的密码" required value="123456">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" id="btnSubmit">登陆</button>
    </form>

</div> <!-- /container -->

<script src="./static/vendors/requirejs/require.min.js"></script>
<!--<script src="./static/js/app/lib.js"></script>-->
<!--<script src="./static/js/app/appSetting.js"></script>-->
<!--<script src="./static/js/app/rest.js"></script>-->
<!--<script src="./static/js/app/cashier_appSetting.js"></script>-->
<script>
    require(['./static/js/requireConfig'], function () {
        require(['../js/app/cashier_login']);
    });

</script>
</body>
</html>