<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.pay.Dao.AccountCashierMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zero.pay.Entity.AccountCashierEntity">
        <id column="id" property="id" />
        <result column="commission_rate" property="commissionRate" />
        <result column="order_limit" property="orderLimit" />
        <result column="daily_order_limit_alipay" property="dailyOrderLimitAlipay" />
        <result column="daily_order_limit_wechat" property="dailyOrderLimitWechat" />
        <result column="agent_id" property="agentId" />
        <result column="version_code" property="versionCode" />
        <result column="alipay_uid" property="alipayUid" />
        <result column="alipay_name" property="alipayName" />
        <result column="secret" property="secret" />
    </resultMap>

</mapper>
